[Unit]
Description=Create SSH privilege separatation directory for inetd usage
Before=inetd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.local.d/50-sshd_inetd-5pkl8ntm68p6cvw1i0s8thbyx

[Install]
WantedBy=inetd.service
